
<form method="post" action="@Url.Action("TrajetConvive", "Convive")">
    <div class="form-group">
        <input type="text" name="adresse" value="@ViewData["adresse"]" class="form-control" id="adresse" placeholder="Entrez votre adresse de départ">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<iframe width="600" height="450" frameborder="0" style="border:0"
        src='https://www.google.com/maps/embed/v1/directions?origin=@ViewData["adresse"]&destination=@ViewData["lieu"]&key=AIzaSyDWuVY7zg7s0MRF4Pg5xuWkGmIKCGDvoPs' allowfullscreen></iframe>